@font-face {
    font-family: yekan;
    src: url(../Fonts/iranyekanwebbold.ttf);
}

*{
    font-family: yekan;
}

samp{
    font-family: yekan;
}

:root{
    --theme-color01 : #95B8B8;
    --theme-color02 : #2F4E4E;
    --theme-color03 : #F4A261;
    --theme-color04 : #EDE9DA;
}

/* Scrollbar */
::-webkit-scrollbar{
    background-color: rgb(53, 53, 53);
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(129, 129, 129);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #b97979; 
}

/* End of Scrollbar */