/* Footer */
.custom-tooltip-instagram {
    --bs-tooltip-bg: var(--bs-danger);
    --bs-tooltip-color: var(--bs-white);
}
.custom-tooltip-linkdin {
    --bs-tooltip-bg: var(--bs-primary);
    --bs-tooltip-color: var(--bs-white);
}

.custom-tooltip-telegram {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-color: var(--bs-white);
}

.tooltip-inner{
    font-family: sans-serif;
    font-weight: bold;
}

.concats a , .phones a i{
    transition: all .4s ease;
}

#instagram,#telegram,#linkdin{
    transition: all .6s ease;
}

.text-theme-color{
    color: var(--theme-color03);
}
/* End of Footer */