/* Header */

/* Navbar */

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #70abe2;
}

.dropdown-menu[data-bs-popper] {
  top: 80%;
  right: 0;
  margin-top: var(--bs-dropdown-spacer);
}

.nav-menu{
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8));
}

.menu-item{
    font-size: 17px;
    color: #eee;
    transition: color .5s;
}
.menu-item:hover{
    color: #70abe2;
    
}

.nav-button{
    border: solid white 2px;
}

.line1 , .line2 , .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.custom-navbar-ham {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8));
    transition: background 0.5s ease;
}

/* Button */
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 35px;
    border: 2px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
/* End of Button */

/* End of Navbar */


/* End of Header */
